<form [formGroup]="deviceForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="gateway-card">
    <mat-card-header>
      <mat-card-title>Gateway</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="UID" formControlName="uid">
            <mat-error *ngIf="deviceForm.controls['uid'].hasError('required')">
              UID is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Vendor" formControlName="vendor">
            <mat-error *ngIf="deviceForm.controls['vendor'].hasError('required')">
              Vendor is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Gateways" formControlName="gatewayId" required="required">
              <mat-option *ngFor="let gateway of gateways" [value]="gateway.value">
                {{ gateway.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="deviceForm.controls['gatewayId'].hasError('required')">
              Gateway ID is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{ status.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="deviceForm.controls['status'].hasError('required')">
              Status is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
